
body {
  background: url("./img/autumn.jpg") center center/cover no-repeat;
  min-height: 100vh;

}
.app-wrapper{
  display: grid;
  grid-template-areas:
  "0 helmet"
  "navigation Mcontent";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.5fr 10fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

