


.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.list-of-people {
    width: 20%;
    background: #a6a6dc;
    height: 90%;
    border-radius: 10px;
}

.my-dialog {
    margin-left: 100px;
}

.list-name  li{
    margin-top: 50px;
    font-size: 22px;
}

.answer-photo img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

